* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  color: purple;
  font-family: serif;
  margin-bottom: 10px;
}
.title {
  font-size: 18px;
  font-family: monospace;
}
.nav {
  margin-top: 10px;
  list-style-type: none;
  padding-left: 0;
}

.nav li {
  display: inline-block;
}

.nav a {
  color: white;
  background-color: #13a4a4;
  padding: 5px;
  border-radius: 2px;
  text-decoration: none;
}

.nav .blog {
  background-color: red;
}
