* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;

}

.container {
    border: 0.3rem solid black;
    display: flex;
    align-items: flex-start;
    height: 50vh;

}

.box {
    width: 10rem;
    height: 10rem;
}

.box1 {
    background-color: red;
}

.box2 {
    background-color: green;
}

.box3 {
    background-color: blue;
}

.box4 {
    background-color: yellow;
}

.box5 {
    background-color: orange;
}

.box6 {
    background-color: purple;
}