* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;

}

.container {
    border: 0.3rem solid black;
    display: flex;
    flex-wrap: wrap;
    /* height: 50vh; 50% de la altura del navegador */

}

.box {
    /* width: 10rem; */
    height: 10rem;
    flex-basis: 10rem;
    flex-shrink: 1;
    /* flex-grow: 1; */
}

.box1 {
    background-color: red;
    /* order: 1; */
    /* flex-grow: 1; */
}

.box2 {
    background-color: green;
    /* flex-grow: 1; */
}

.box3 {
    background-color: blue;
}

.box4 {
    background-color: yellow;
}

.box5 {
    background-color: orange;
    /* order: 4;  */
}

.box6 {
    background-color: purple;
}