* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

h1 {
    color: purple;
    font-family: serif;
    margin-bottom: 10px;
  
}


.title {
    font-size: 18px;
    font-family: monospace;
}

.nav {
    /* Esto es elementos dentor del ID*/
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0px;
}

.nav li {
    /* Esto es para los estilos de los elementos de lista */
    display: inline-block; /* Esto es para que los elementos se muestren en línea */
}

.nav a {
    /* Esto es para los estilos de los elementos de ancla */
    color: white; 
    background-color: #13a4a4;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}
 
.nav .blog {
    background-color: red;
} 