.contenedor {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 75px 75px 75px;
    place-content: center;
    /* place-items: center; */
    grid-template-areas: 
        "header header header"
        "side main main"
        "side main main";
}

.item {
    border: 5px solid #00bcd4;
    font-size: 4rem;
}

.item-1 {
    border: 5px solid #f8bbd0;
    background-color: #ffeeff;
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-area: header;
}

.item-2 {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    /* grid-row: 2 / 4; */
    grid-area: side;
}

.item-3 {
    border: 5px solid #b2ebf2;
    background-color: #e5ffff;
    /* grid-area: 2 / 2 / 4 / 4; */
    grid-area: main;
}