* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: url('./src/background.jpg') no-repeat center center;
    background-size: cover;
    background-color: #cccccc;
    font-size: 85%;
}
 


.info {
    font-size: 1.6rem;
    font-weight: small;
    text-align: center;
    width: 55%;
    border: rgb(129, 129, 191) solid 1px;
    border-radius: 15px;
    background-color: rgb(30, 192, 135, 0.5);
    /* opacity: 0.5; */
    /* filter: alpha(opacity=100); */
    margin: 0 auto;
    padding: 10rem;
    top: 10rem;
}

h1 {
    padding: 0.5;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 5rem;
    top: 2rem;
    width: 20%;
    opacity: 1;
    margin: 0 auto;
    border: rgb(186, 199, 176) solid 2
    px;
    border-radius: 15px;
    background-color: rgb(0, 255, 21);
    position: relative;
}


