

@media (min-width: 800px) {
    .container{
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    .c1 {
        width: 60%;
    }
    .c2 {
        width: 40%;
    }
    .c3 {
        width: 33%;
    }
    .c4 {
        width: 34%;
    }

}