/*
1. position
2. box model
3. typography
4. visual
5. utility (others)
*/


:root {
    --font-sans:'DM Sans', sans-serif;
	--font-inter:'Inter', sans-serif;
	--size-300:300;
	--size-400:400;
	--size-500:500;
	--size-700:700;
	--background:#E5E5E5;
	--linear-gradient:207.8deg, #201E1C 16.69%, #F7931A 100%;
	--bitcoin-orage:#F7931A;
	--soft-orange:#FFE9D5;
	--secondary-blue:#FFE9D5; 
	--soft-blue:#E7F5FF;
	--warm-black:#201E1C;
	--warm-blackplus1:#282623;
	--gray:#BABABA;
	--off-white:#FAF8F7;
	--just-white:#FFFFFF;
}

html {
    font-size: 62.5%;
    font-family: var(--font-sans);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	min-width: 320px;
	height: 334px;
	text-align: center;
	background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
	width: 150px;
	height: 24px;
	margin-top: 60px;
	align-self: center;
}

.header--title-container {
	width: 90%;
	min-width: 288px;
	max-width: 900px;
	height: 218px;
	margin-top: 40px;
	/* text-align: center; */
	align-self: center;
}

.header--title-container h1 {
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 2.6rem;
	color: var(--just-white)
}

.header--title-container p {
	margin-top: 25px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: var(--soft-orange);
}

.header--title-container .header--button {
	position: absolute;
	left: calc(50% - 114.5px);
	top: 270px;
	margin-top: 35px;
	display: block;
	padding: 15px;
	width: 229px;
	height: 48px;
	background-color: var(--off-white);
	box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
	border: none;
	border-radius: 5px;
	font-size: 1.4rem;
	font-weight: bold;
	text-decoration: none;
	color: var(--black);
}

.header--title-container span {
	display: inline-block;
	width: 13px;
	height: 8px;
	margin-left: 10px;
	background-image: url('./assets/icons/down-arrow.svg');
}

main {
	width: 100%;
	height: auto;
	background-color: var(--off-white);
	min-width: 320px;
}

.main-exchange-container {
	width: 100%;
	height: auto;
	padding-top: 80px;
	padding-bottom: 30px;
	text-align: center;
}

.main-exchange-container .backgroundImg {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	margin-bottom: 50px;
	background-image: url('./assets/imgs/Bitcoin.svg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.main-exchange-container--title {
	width: 90%;
	/* min-width: 288px; */
	max-width: 900px;
	margin: 0 auto;
}

.main-exchange-container h2 {
	margin-bottom: 30px;
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 2.6rem;
	color: var(--black);
}

.main-exchange-container p {
	margin-bottom: 30px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.6rem;
	color: #757575;
}

.main-currancy-table {
	width: 70%;
	min-width: 235px;
	max-width: 500px;
	height: 360px;
	margin: 0 auto;
	font-family: --var(--font-inter);
}

.main-currancy-table .currancy-table--title {
	margin-bottom: 15px;
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 2.3rem;
	color: var(--bitcoin-orage);
} 

.currancy-table--container {
	width: 90%;
	min-width: 230px;
	max-width: 300px;
	height: 250px;
	margin: 0 auto;
}

.currancy-table--container table {
	width: 100%;
	height: 100%;
}

.currancy-table--container td {
	width: 50%;
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 1.9rem;
	color: var(--gray);
	background-color: var(--just-white);
}

.currancy-table--container .table__top-left {
	border-radius: 15px 0 0 0;
}

.currancy-table--container .table__top-right {
	border-radius: 0 15px 0 0;
}

.currancy-table--container .table__bottom-left {
	border-radius: 0 0 0 15px;
}

.currancy-table--container .table__bottom-right {
	border-radius: 0 0 15px 0;
}

.currancy-table--container .table__right {
	font-size: 1.4rem;
	font-weight: normal;
	line-height: 1.7rem;
	color: #757575;
}

.currancy-table--container .down {
	display: inline-block;
	width: 15px;
	height: 15px;
	background-image: url('./assets/icons/trending-down.svg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	vertical-align: middle;
}

.currancy-table--date {
	width: 190px;
	height: 30px;
	margin: 0 auto;
	margin-top: 15px;
	padding: 8px;
	background-color: var(--soft-orange);
	border-radius: 8px;
}

.currancy-table--date p {
	/* margin: 7px; */
	font-size: 1.2rem;
	font-weight: 300;
	line-height: 1.5rem;
	color: var(--warm-black)
}

.main-product-detail {
	position: relative;
	width: 100%;
	min-width: 320px;
	height: auto;
	padding: 20px 10px;
	background-color: var(--warm-black);
}

.product-detail--batata-logo {
	position: absolute;
	left: calc(50% - 20px);
	top: -10px;
	width: 40px;
	height: 25px;
	background-image: url('./assets/icons/batata.svg');
}

.product-detail--title {
	width: 90%;
	min-width: 288px;
	height: auto;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
}

.product-detail--title h2 {
	margin-bottom: 20px;
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 2.6rem;
	color: var(--just-white);
}

.product-detail--title p {
	margin-bottom: 20px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: #808080;
}

.product-detail--card {
	width: 90%;
	min-width: 288px;
	max-width: 400px;
	height: 150px;
	margin: 15px auto;
	padding: 15px;
	background-color: var(--warm-blackplus1);
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product-detail--card .clock {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-bottom: 10px;
	background-image: url('./assets/icons/clock.svg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.product--card-title {
	margin-bottom: 15px;
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 1.8rem;
	color: var(--just-white);
}

.product--card-body {
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: #808080;
}